:root {
    --border-color:  rgb(73, 73, 73);
    --background-color: #efe6dd;
    --piece-color: #ffedb7;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-color: var(--background-color);
}

#create_or_join {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#coj {
    grid-column: 2;
    grid-row: 2;
}

#board {
    width: 100%;
    height: 100%;
}

#play_grid {
    width: 100vh;
    height: calc(100vh - 20px);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    display: grid;
    grid: auto 85% minmax(auto, 15%) / 4fr 1fr;
    grid-gap: 10px;
}

#topbar {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    grid: none / repeat(4, max-content);
    grid-column-gap: 10px;
}


.box {
    border: 1px solid var(--border-color);
    text-align: center;
    border-radius: 5px;
}

#game {
    grid-column: 1 / span 1;
    grid-row: 2;
    display: grid;
    grid: 2.5fr 1fr / none;
    grid-gap: 10px;
}

#board {
    width: 100%;
    height: 100%;
    grid-row: 1;
}

#board_box {
    background-color: #fdf587;
}

#board > svg {
    background-color: #458e4a;
}

#hand, #hand > svg {
    width: 100%;
    height: 100%;
    grid-row: 2;
}

/* #board_svg {
    width: 100%;
    height: 100%;
}

#hand_svg {
    width: 100%;
    height: 100%;
} */

#sidebar {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 10%;
    grid-gap: 10px;
    height: 50%;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#players {
    text-align: left;
}

#end_turn {
    background-color: #AFD0BF;
}

#footer {
    padding: 2px;
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    text-align: left;
}

.piece_text {
    font-family: 'Roboto Mono', monospace;
    paint-order: stroke;
    stroke-width: 1px;
    font-weight: bold;
    font-size: large;
    stroke: black;
    stroke-linejoin: round;
    user-select: none;
}

.piece_tile {
    fill: var(--piece-color);
    stroke: black;
    user-select: none;
}

.active_player::before {
    content: "➤ ";
}

.active_player {
    color: green;
}

.disconnected {
    color: red;
}

.disconnected::before {
    content: "❌ ";
}