*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    overflow: hidden;
    height: calc(100%);
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
}

div#extra {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div#board {
    border: 3px solid red;
    height: 100vh;
    width: 75vw;
    position: relative;
}

div#players {
    border: 3px solid green;
    /* height: calc(45%); */
    display: flex;
    flex-grow: 7;
}

div#end_turn {
    border: 3px solid red;
    text-align: center;
    background-color: rgb(36, 209, 36);
    user-select: none;
    font-size: 40px;
    /* flex-grow: 1; */
}

div#chat {
    border: 3px solid black;
    /* height: calc(45%); */
    /* display: flex; */
    flex-grow: 7;
}

.piece_text {
    font-family: 'Roboto Mono', monospace;
    paint-order: stroke;
    stroke-width: 1px;
    font-weight: bold;
    font-size: large;
    stroke: black;
    stroke-linejoin: round;
    user-select: none;
}

.piece_tile {
    fill: #ffda61;
    border-radius: 10px;
    stroke: black;
    user-select: none;
}
